body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 33, 33);
}
.container{
    margin-top: 5%;
    background-color: lightgray;
    width: 350px;
    height: 500px;
    border: 2px solid rgb(231, 224, 15);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
h1{
    color: gold;
    margin-top: -10px;
}
h3{
    color: goldenrod;
    margin-top: -20px;
}
div{
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tools{
    border: 2px solid gold;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(132, 132, 37);
    background-color: silver;
}